<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CSP</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="corporategeekprofile" Match="NavLinkMatch.All">
                <span class="oi oi-badge" aria-hidden="true"></span> CSP Profile Create
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="individualgeekprofile">
                <span class="oi oi-account-login" aria-hidden="true"></span> Create Geek Profile
            </NavLink>
        </div>
      @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="getgeekprofile">
                <span class="oi oi-list-rich" aria-hidden="true"></span> View Geek Details
            </NavLink>
        </div>*@
        @*<div class="nav-item px-3">
        <NavLink class="nav-link" href="demopage">
        <span class="oi oi-arrow-circle-left" aria-hidden="true"></span> Demo page
        </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="testingpage">
                <span class="oi oi-arrow-circle-left" aria-hidden="true"></span> Testing page
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
